
    body{
      margin: 0;
      padding-top: 80px;
      padding-left: 96px;
      padding-right: 24px;
      background-color: rgb(252, 247, 247);
    }
    p{
      font-family: Roboto, Arial;
    }
    
    